/*

::Table Of Contents



1.) Global Settings And Bootstrap Overwrites

2.) Header Section Style

3.) Home Page Content

4.) Media Query Condition

===========================================================*/



/*

1.) Global Settings And Bootstrap Overwrites

===========================================================*/

:root {

    --light: #8ab0e4;

    --primary: #3a7ad2;

    --darkPrimary: #27528d;

    --baseColor: #333333;

    --success:#f1f6ff;

}

html {

    font-size:13px;

}

body {

    font-family: 'Montserrat', sans-serif;

    color: var(--baseColor);

    font-weight: bold;

}

.container {

    max-width: 1200px;

    width: 100%;

}

.bg-primary, #header .nav-link:after, .animatedIcon span {

    background-color: var(--primary) !important;

}

.bg-success {

    background-color: var(--success) !important

}

.text-light {

    color: var(--light) !important;

}

.base-color, #header .nav-link {

    color: var(--baseColor);

}

#header .nav-link:hover, #header .nav-link:focus, #header .nav-link.active {

    color:var(--primary);

}

.darkPrimary, .darkPrimary:hover, .darkPrimary:focus {

    background-color: var(--darkPrimary);

}

.darkPrimary, .darkPrimary:hover, .darkPrimary:focus {

    border-color: var(--darkPrimary) !important;

}

.btn:focus {

    box-shadow: none !important;

}

.bg-primary .text-white {

    opacity: 0.8;

}

.bg-primary a.text-white:hover, .bg-primary a.text-white:focus {

    opacity: 1;

}

.btn-outline-secondary {

    border-color:#ced4da;

    color:#ced4da;

}

/*

2.) Header Section Style

===========================================================*/

.socialMedia {

    font-size:1.5rem;

}

.darkPrimary {

    padding:0.5rem;

}

.animatedIcon {

    width: 30px;

    height: 20px;

    position: relative;

    margin: 0px;

    transform: rotate(0deg);

    transition: .5s ease-in-out;

    cursor: pointer;

}

.animatedIcon span {

    display: block;

    position: absolute;

    height: 3px;

    width: 100%;

    border-radius: 9px;

    opacity: 1;

    left: 0;

    transform: rotate(0deg);

    transition: .25s ease-in-out;

}

.animatedIcon span:nth-child(1) {

    top: 0px;

}

.animatedIcon span:nth-child(2), .animatedIcon span:nth-child(3) {

    top: 10px;

}

.animatedIcon span:nth-child(4) {

    top: 20px;

}

.animatedIcon.open span:nth-child(1) {

    top: 11px;

    width: 0%;

    left: 50%;

}

.animatedIcon.open span:nth-child(2) {

    transform: rotate(45deg);

}

.animatedIcon.open span:nth-child(3) {

    transform: rotate(-45deg);

}

.animatedIcon.open span:nth-child(4) {

    top: 11px;

    width: 0%;

    left: 50%;

}

#header .navbar {

    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);

    padding-top: 1rem;

    padding-bottom: 1rem;

}

#header .nav-link {

    padding-top: 1rem;

    padding-bottom: 1rem;

    position: relative;

}

#header .nav-link:after {

    content: '';

    width: 100%;

    height: 5px;

    position: absolute;

    left: 0;

    bottom: 0;

    opacity: 0;

    transition: opacity 0.3s;

}

#header .nav-item:hover .nav-link:after, #header .nav-link.active:after {

    opacity: 1;

}

.has-search .form-control {

    padding-left: 2.375rem;

}



.has-search .form-control-feedback {

    position: absolute;

    z-index: 2;

    display: block;

    width: 2.375rem;

    height: 2.375rem;

    line-height: 2.375rem;

    text-align: center;

    pointer-events: none;

    color: #aaa;

}

/*

3.) Home Page Content

===========================================================*/

#content {

    min-height: 100vh;

}

.eventDetails {

    bottom:20px;

    left:10px;

    text-align: left;

    right: auto;

}

.eventDetails time, .eventDetails h6 {

    font-size:0.85rem;

}

.eventDetails .bg-light {

    background-color: rgba(255,255,255,0.8) !important;

}

.carousel-indicators {

    justify-content: flex-end;

    margin-right: 15px;

    margin-bottom: 15px;

}

.carousel-indicators li {

    width:15px;

    height: 15px;

    border-radius:50%;

    opacity: 1;

    border:1px solid #fff;

    background-color: #000;

}

.carousel-indicators li.active {

    background-color: #fff;

}

.jobList li {

    display: flex;

    margin-bottom: 2rem;

    align-items: center;

}

.jobList li h5 {

    font-size:1.1rem;

    font-weight: 600;

}

.jobList li h6 {

    font-size:1rem;

    font-weight: 400;

}

.news li {

    padding-bottom:2rem;

    margin-bottom:2rem;

    border-bottom:1px solid #e3dcdc;

}

.news li:last-child {

    border-bottom: none;

    margin-bottom: 0;

    padding-bottom:0;

}

.news li time {

    color: #999;

}

.csrEvents {

    background:url(../img/csr-events.jpg) no-repeat;

    background-size: cover;

}

.csrEvents .news li {

    margin-bottom:1rem;

    padding-bottom: 1rem;

}

.csrEvents .news li:last-child {

    margin-bottom: 0;

    padding-bottom: 0;

}

.carousel-control-next, .carousel-control-prev {

    display: flex;

    align-items: center;

    justify-content: center;

    bottom:25px;

    top: auto;

    width:40px;

    height: 40px;

    background-color: #fff;

    border-radius:50%;

    font-size:1rem;

    color:var(--primary);

    opacity: 1;

}

.carousel-control-next:hover, .carousel-control-prev:hover, .carousel-control-next:focus, .carousel-control-prev:focus {

    opacity: 1;

    color:var(--primary);

}

.carousel-control-next {

    right:30px;

}

.carousel-control-prev {

    left: auto;

    right:80px;

}

/*

4.) Job Page Content

===========================================================*/

.jobPost {

    left:0;

    top:0;

    max-width:160px;

}

.filterLabel {

    min-width: 72px;

}

.location {

    font-size:0.8rem;

    position: relative;

    padding-left:1rem;

}

.location::before {

    content: '';

    position: absolute;

    left: 0;

    top:50%;

    width:5px;

    height:5px;

    background-color:#e8e8e8;

    transform: translateY(-50%)

}

.moreDetails {

    font-size:0.8rem;

}

.moreDetails a:hover {

    text-decoration: none;

}

.moreDetails i {

    font-size:1rem;

    margin-bottom: 0.5rem;

}

.pagination .page-item {

    margin:0 0.25rem;

}

.page-item:first-child .page-link, .page-item:last-child .page-link, .page-item .page-link {

    border-radius:0.25rem;

    min-width:30px;

    text-align: center;

}

.rfpThumbnail, .rfpHeader {

   min-height: 80px;

}

/*

4.) Media Query Conditions

===========================================================*/

@media only screen and (max-width:575px) {

    .text-xs-center {

        text-align: center;

    }

}

@media only screen and (min-width:576px) {

    .form-inline .custom-select, .form-inline .input-group {

        width:100%;

    }

}

@media only screen and (min-width:1200px) {

    #header .navbar {

        padding-top: 0;

        padding-bottom: 0;

        box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);

    }

    #header .nav-item {

        margin-left:1.25rem;

        margin-right: 1.25rem;

    }

    #header .nav-link {

        padding:2.5rem 0;

    }

}


/*

Bhawesh Styles

===========================================================*/


.postjob-banner{
    background-image: url(../img/job-banner1.jpg);
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;  
    height: 200px;
    padding-top: 40px;
}

.postjob-content{
    bottom: 60px;
    position: relative;
    background-color: #fff;
    padding: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.23);
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.23);
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.23);
    -o-box-shadow: 0 0 10px rgba(0, 0, 0, 0.23);
}

.select-job-date{
    margin-right: 20px;
    border-radius: 0;
    box-shadow: none;
    border-color: #d2d6de;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
}

.job-description-area{
    height: 250px !important;
}

.hide{display:none;}

.upload-poster {
    display: inline-block;
    padding: 4px 12px;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 20px;
    color: #000;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid #bbbbbb;
    border-bottom-color: #a2a2a2;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.organisation-logo{
    width: 200px;
    height: 200px;
    border: 1px solid #bbbbbb;
    margin-top: 20px;
}


.js .inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile + label {
    display: inline-block;
    padding: 4px 12px;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 20px;
    color: #000;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid #bbbbbb;
    border-bottom-color: #a2a2a2;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.btn-preview{
    color: #007bff;
    background-color: #fff;
    border-color: #007bff;
}

.progress-section{
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.23);
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.23);
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.23);
    -o-box-shadow: 0 0 10px rgba(0, 0, 0, 0.23);
}

.progress-area{
    background-color: #efefef;
    padding: 30px 15px;
}

.progress-area h5{
    font-size: 16px;
    font-weight: bold;
}

.progress{
    background-color: #d7d7d7;
    height: 5px;
}

.progress p{
    color: #000;
    position: absolute;
    top: 67px;
}

.complete-progress{
    position: absolute;
    right: 0%;
    top: 35px;
    right: 15px;
}

.progress-section h2{
    color: #3a7ad2;
    font-weight: bold;
    font-size: 30px;
}

.progress-section h4{
    font-size: 17px;
    font-weight: bold;
    text-transform: uppercase;
}

.progress-section p{
    font-size: 11px;
}

.personal-section{
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.23);
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.23);
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.23);
    -o-box-shadow: 0 0 10px rgba(0, 0, 0, 0.23);
    margin-top: 25px;
    padding: 25px 0px;
}

.personal-section h5{
    font-size: 16px;
    font-weight: bold;
}

.personal-section img{
    width: 100px;
    height: 100px;
}

.personal-section h2{
    font-size: 16px;
    font-weight: bold;
    padding-top: 15px;
}

.personal-section p{
    font-size: 14px;
}

.sidebar-area{
    background-color: #f6f6f6;
    padding: 30px 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.23);
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.23);
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.23);
    -o-box-shadow: 0 0 10px rgba(0, 0, 0, 0.23);
}

.sidebar-area h5{
    font-size: 16px;
    font-weight: bold; 
    padding: 10px; 
    width: 100%;  
    background-color: #eae8e9;
    border-left: 3px solid #3a7ad2;
    padding: 10px;
    color: #000;
}

.sidebar-area a{
    text-decoration: none;
}

.sidebar-area p{
    color: #000;
    padding: 6px 15px;
}

.email-caption{
    font-size: 14px;
    font-weight: 500;
}

.social-login{
    background-color: #f8f6f7;
    text-align: center;
    padding: 18px;
}

.social-login h4{
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}

.social-login img{
    width: 60px;
    height: 60px;
}

.login-option{
    font-weight: bold;
    font-size: 18px;
    color: #000;
    padding: 20px;
    border-radius: 50px;
    text-align: center;
}

.register-form h2{
    font-size: 19px;
    font-weight: bold;
    text-align: center;
}

.register-form .form-control{
    margin: 8px 0px;
    height: 40px !important;
}

.register-form .btn-primary{
    margin-top: 50px;
}

.custom-profile h1{
    font-size: 20px;
    font-weight: bold;
}

.custom-profile h2{
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 30px;
}

.custom-profile .profile-image{
    width: 100%;
    height: 140px;
    background-size: cover;
    background-repeat: no-repeat;
}

.custom-profile p{
    font-size: 15px;
    color: #fff;
    text-align: center;
    position: relative;
    bottom: 30px;
}

.styled-checkbox {
  position: absolute;
  opacity: 0;
}
.styled-checkbox + label {
  position: relative;
  cursor: pointer;
  padding: 0;
  width: 100%;
}
.styled-checkbox + label:before {
  content: '';
  display: inline-block;
  vertical-align: text-top;
  width: 20px;
  height: 140px;
  background: transparent;
}
.styled-checkbox:hover + label:before {
  background: transparent;
}
.styled-checkbox:focus + label:before {
  box-shadow: none;
}
.styled-checkbox:checked + label:before {
  background: transparent;
}
.styled-checkbox:disabled + label {
  color: #b8b8b8;
  cursor: auto;
}
.styled-checkbox:disabled + label:before {
  box-shadow: none;
  background: #ddd;
}
.styled-checkbox:checked + label:after {
  content: '\f00c' !important;
  font-family: FontAwesome !important;
  font-weight: bold;
  font-size: 60px;
  color: #fff;
  text-align: center;
  background: transparent;
  position: relative;
  top: 15px;
}

.unstyled {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.centered {
  width: 300px;
  margin: auto;
}

.title {
  text-align: center;
  color: #4571ec;
}

#interest-popup {
    width: 90%;
    height: auto;
    background: #FFFFFF;
    border: 5px solid #000;
    border-radius: 25px;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    box-shadow: #64686e 0px 0px 3px 3px;
    -moz-box-shadow: #64686e 0px 0px 3px 3px;
    -webkit-box-shadow: #64686e 0px 0px 3px 3px;
    position: absolute;
    z-index: 99;
    margin: 100px 70px;
}

@media only screen and (max-width:768px) {
    #interest-popup {
        margin: 100px 5px;
    }
}